<div class="container-fluid mt-5">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-6 mt-5">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#">about ideals</a></li>
            <li><a href="#">my accoun</a></li>
            <li><a href="#">active tickets</a></li>
            <li><a href="#">campaign</a></li>
            <li><a href="#">products</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-6 mt-5">
          <h5>Campaign</h5>
          <ul class="list-unstyled">
            <li><a href="#">all</a></li>
            <li><a href="#">auto</a></li>
            <li><a href="#">life style</a></li>
            <li><a href="#">cash</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-6 mt-5">
          <h5>Customer Service</h5>
          <ul class="list-unstyled">
            <li><a href="#">contact us</a></li>
            <li><a href="#">FAQS</a></li>
            <li><a href="#">how it works</a></li>
            <li><a href="#">charities</a></li>
            <li><a href="#">campaign draw terms & conditions</a></li>
          </ul>
        </div>

      <div class="col-md-3 col-6 mt-5">
          <h5></h5>
          <ul class="list-unstyled">
              <li><a class="dealForDelColor" href="#">deal for del</a></li>
              <li><a href="#">deal for del</a> <span class="callUsBold"> Call US Now</span></li>
              <li><a href="#">Write Us An</a></li>
              <li><a href="#">dealfordel@gmail.com</a></li>
            </ul>
      </div>
    </div>
    </div>
  </div>
</div>
















<!-- <div class="container">
  <div class="row">

    <div class="pt-3 pb-3 socialDivfooter">
      <div>
          <p class="mb-0">
            deal for del &copy; Company 2019
          </p>
      </div>
      <div>
        <a><i class="fab fa-twitter"></i></a>
        <a><i class="fab fa-facebook"></i></a>
        <a><i class="fab fa-instagram"></i></a>
        <a><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</div> -->
<div class="container-fluid socialDivfooter">
  <div class="row">
    <div class="container">
      <div class="pl-3 pt-3 pb-3 containerFlexIcon">
          <div>
              <p class="mb-0">
                deal for del &copy; Company 2019
              </p>
          </div>
          <div>
            <a><i class="fab fa-twitter"></i></a>
            <a><i class="fab fa-facebook"></i></a>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-youtube"></i></a>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="flex-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div> -->
